@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        scroll-behavior: smooth;
    }

    body {
        @apply text-gray-900 bg-gray-50;
    }

    ::selection {
        @apply bg-blue-600 text-white;
    }
}

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .text-brand-blue {
        @apply text-blue-700;
    }
    
    .bg-brand-blue {
        @apply bg-blue-700 hover:bg-blue-800 text-white transition-colors;
    }
}