@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        scroll-behavior: smooth;
    }

    body {
        @apply text-gray-900 bg-gray-50;
    }

    ::selection {
        @apply bg-indigo-500 text-white;
    }
}

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .text-gradient {
        @apply bg-clip-text text-transparent bg-gradient-to-r from-indigo-600 to-violet-600;
    }
}